<div class="contents row">
  <%= form_tag("/blogs/#{@blog.id}", method: :patch ) do %>
    <h5 class="center-align ">Edit</h5>
    <input placeholder="title" type="text" name="title" value="<%= @blog.title %>" autofocus="true">
    <textarea cols="30" name="text" placeholder="text" rows="10" id="textarea1" class="materialize-textarea"><%= @blog.text %></textarea>
    <label for="textarea1"></label>
    <input type="submit" value="SENT" class="waves-effect waves-light btn">
  <% end %>
</div>


<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Textarea</label>
        </div>
      </div>
    </form>
  </div>
<a class="waves-effect waves-light btn">button</a>







